@model RoutingDemo.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Students DB</h1>
    <p>Please log in or register</p>

    <div class="d-flex justify-content-around">
        <img src="~/images/pixel-cells-3976295_1280.png" alt="student"/>
        <div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" /> |
                    <a asp-controller="Users" asp-action="Register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
