@{
    ViewData["Title"] = "Students Page";
}

<div class="text-center">
    <h1 class="display-4">Students</h1>
    <a href="/add">ADD</a>
    <table data="students">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @* TODO: @foreach (Student s in stude) {*@
            <tr>
                <th>1</th>
                <th>John</th>
                <th>Kowalski</th>
                <th>35</th>
                <th><a href="/edit/1">EDIT</a><a href="/delete/1">DELETE</a></th>
            </tr>
            <tr>
                <th>2</th>
                <th>Adam</th>
                <th>Smith</th>
                <th>19</th>
                <th>
                    <a href="/edit/1">EDIT</a>
                    <a href="/delete/1">DELETE</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
